<h2 mat-dialog-title>Add New Person</h2>
<mat-dialog-content>
    <form class="add-person-form">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" name="name" required placeholder="Ex. John Doe">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="description" name="description" rows="4"
                placeholder="Enter a brief description..."></textarea>
        </mat-form-field>

        <div class="file-uploads-row">
            <!-- Voice Upload -->
            <div class="file-upload-item">
                <button type="button" mat-stroked-button (click)="voiceInput.click()">
                    <mat-icon>mic</mat-icon>
                    Voice
                </button>
                <input hidden (change)="onVoiceFileSelected($event)" #voiceInput type="file" accept="audio/*">
                @if (voiceFileName()) {
                <span class="file-name">{{ voiceFileName() }}</span>
                }
            </div>

            <!-- Image Upload -->
            <div class="file-upload-item">
                <button type="button" mat-stroked-button (click)="imageInput.click()">
                    <mat-icon>image</mat-icon>
                    Image
                </button>
                <input hidden (change)="onImageFileSelected($event)" #imageInput type="file" accept="image/*">
                @if (imageFileName()) {
                <span class="file-name">{{ imageFileName() }}</span>
                }
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>